<p>
  <h6 class="tighter" id="viewDinner-<%=dinners.id%>">Dinner on <%= display_datetime(dinners.date) %></h6>
  <%= announce_chefs(dinners) %> <%= render partial: 'dinners_actions', locals: {dinners: dinners, time: (time ||= nil)} %>
  <div id="dinnerDetails-<%=dinners.id%>">
  </div>
</p>

<script type="text/javascript" charset="utf-8">
  $("#viewDinner-<%=dinners.id%>").on("click", function(){ viewDinner(<%=dinners.id%>); });
</script>
