<div class="nested-fields">
<% dropdown ||= true %>
  <% unless (f.object.name && f.object.id) || dropdown == "false" %>
    <%= f.select :id, options_from_collection_for_select(Dish.all.order(:name), :id, :name), {prompt: 'Select or create a new dish'}  %>
  <% end %>


  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true %><br>

  <%= f.label :creators %>
  <%= f.text_field :creators, placeholder: "Stuyvesant Supper Club" %>

  <div class="ingredients">
    <%=f.fields_for :ingredients_attributes do |i| %>
      <%= render '/shared/ingredients/ingredients_fields', f: i %>
    <% end %>
  </div>
  <%=render partial: 'dishes_actions', locals: {f: f} %>
</div>
