<%= link_to "Edit this dinner", edit_admin_dinner_path(dinners) %>
<%= link_to "See reservations", {}, id: "viewRes-#{dinners.id}" %>
<button class="button open-modal">Launch modal window</button>

<div class="reservations-<%=dinners.id%>"></div>

<script type="text/javascript" charset="utf-8">
  $("#viewRes-<%=dinners.id%>").on("click", function(){ viewRes(<%=dinners.id%>); });
</script>
