<%= form_for dinner, url: admin_dinner_path(dinner), html: {method: "patch"} do |f| %>
   <%= render '/layouts/errors', object: f.object %>
  <h5>DINNER:</h5>
  <div class="">
    <%= f.label "Date", class: "form-control" %>
    <%= f.date_field :date, class: "form-control" %>

    <%= f.label :chefs, class: "form-control" %>
    <%= f.text_field :chefs, class: "form-control" %>
  </div>

  <h5>DISHES:</h5>
  <div class="dish-container">
    <%=f.fields_for :dishes do |d| %>
    <%= render '/layouts/errors', object: d.object %>
      <%= render '/shared/dishes/dish_fields', f: d %>
    <% end %>
    <%= link_to_add_association 'add another dish', f, :dishes, partial: '/shared/dishes/dish_fields', class: 'button' %>
    <%= f.submit %>
  </div>

<% end %>
