<div class="">
    <h5><%= display_datetime(dinner.date) %></h5>
    <%= dinner.chefs || "Chefs will be announced soon."%><br>

    <% if commentable == true %>
    <details>
      <summary>See Comments...</summary>
        <%= render partial: 'shared/comments/comments', collection: dinner.comments, locals: {object: dinner} %>
        <%= render partial: 'shared/comments/form', locals: {object: dinner, comments: dinner.comments.build(user: current_user)} %>
    </details>
    <% end %>

      <h5>Serving:</h5>
    <%= render partial: 'shared/dishes/dish', collection: dinner.dishes, locals: {commentable: true} %>
</div>
